{% extends "_base.html" %}
{% load static %}

{% load compress %}

{% block title %}KeftaClub - Inbox{% endblock %}

{% block content %}




<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
        <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12 mb-8">
            <h1 class="text-gray-900 dark:text-white text-3xl md:text-5xl font-extrabold mb-2">Your Conversations and Rooms</h1>
            <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-6">Static websites are now used to bootstrap lots of websites and are becoming the basis for a variety of tools that even influence both web designers and developers.</p>
            <a href="{% url 'checkview' %}" class="inline-flex justify-center items-center py-2.5 px-5 text-base font-medium text-center text-white rounded-lg bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 dark:focus:ring-green-900">
                Create a Room
                <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>
        <div class="grid md:grid-cols-2 gap-8">
            <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12">
                <a href="#" class="bg-green-100 text-green-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-green-400 mb-2">
                    <svg class="w-2.5 h-2.5 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
                        <path d="M17 11h-2.722L8 17.278a5.512 5.512 0 0 1-.9.722H17a1 1 0 0 0 1-1v-5a1 1 0 0 0-1-1ZM6 0H1a1 1 0 0 0-1 1v13.5a3.5 3.5 0 1 0 7 0V1a1 1 0 0 0-1-1ZM3.5 15.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM16.132 4.9 12.6 1.368a1 1 0 0 0-1.414 0L9 3.55v9.9l7.132-7.132a1 1 0 0 0 0-1.418Z"/>
                    </svg>
                    Conversations
                </a>
                <h2 class="text-gray-900 dark:text-white text-3xl font-extrabold mb-2">Conversations</h2>
                {% for thread in threads %}
                <div class="card mb-3 shadow-sm">
                    <a href="{% url 'thread' thread.pk %}" class="stretched-link">
                        <div class="card-body">
                            <h5 class="text-gray-900 dark:text-white text-center text-xl font-extrabold mb-2 py-3 border-solid border-2 border-green-200 bg-green-300 rounded-md hover:border-dotted">{{ thread.receiver }}</h5>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12">
                <a href="#" class="bg-purple-100 text-purple-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-purple-400 mb-2">
                    <svg class="w-2.5 h-2.5 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4 1 8l4 4m10-8 4 4-4 4M11 1 9 15"/>
                    </svg>
                    Rooms
                </a>
                <h2 class="text-gray-900 dark:text-white text-3xl font-extrabold mb-2">Rooms</h2>
                {% for room in rooms %}
                <div class="card mb-3 shadow-sm">
                    <a href="/{{room.name}}" class="stretched-link">
                        <div class="card-body">
                            <h5 class="text-gray-900 dark:text-white text-center text-xl font-extrabold mb-2 py-3 border-solid border-2 border-green-200 bg-green-300 rounded-md hover:border-dotted">{{ room.name }}</h5>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>





<!-- <div class="container">
    <div class="row">
        <h1>Your Conversations and Rooms</h1>
    </div>
    <div class="col-md-12 p-5 text-center">
        <a href="{% url 'checkview' %}" class="btn btn-light p-3">Create a Room</a>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Conversations</h2>
            {% for thread in threads %}
            <div class="card mb-3 shadow-sm">
                <a href="{% url 'thread' thread.pk %}" class="stretched-link">
                    <div class="card-body">
                        <h5>{{ thread.receiver }}</h5>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-6">
            <h2>Rooms</h2>
            {% for room in rooms %}
            <div class="card mb-3 shadow-sm">
                <a href="/{{room.name}}" class="stretched-link">
                    <div class="card-body">
                        <h5>{{ room.name }}</h5>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div> -->

{% endblock content %}
