<!-- templates/index.html -->

{% extends "_base.html" %}

{% block content %}

<div class="flex flex-row flex-nowrap justify-center">

    <!-- left sidebar that takes 2 columns over 3 -->
    <div class="flex flex-col basis-2/3">
      {% for post in posts reversed %}
        <div class="bg-white border rounded-sm max-w-md mb-6">
          <div class="flex items-center px-4 py-3">
            <img class="h-8 w-8 rounded-full" src="{{ post.profile }}"/>
            <div class="ml-3">
              <a href="/profile/{{ post.post.user }}">
                <span class="text-sm font-semibold antialiased block leading-tight">{{ post.post.user }}</span>
              </a>
              <span class="text-gray-600 text-xs block">{{ post.post.location }}</span>
            </div>
          </div>
          <img src="{{ post.post.image.url }}"/>
          <div class="flex items-center justify-between mx-4 mt-3 mb-2">
            <div class="flex gap-5">
              <a href="/like-post?post_id={{post.post.id}}">
                {% if post.is_liked %}
                <svg fill="#FF0000" height="24" viewBox="0 0 48 48" width="24"><path d="M34.6 6.1c5.7 0 10.4 5.2 10.4 11.5 0 6.8-5.9 11-11.5 16S25 41.3 24 41.9c-1.1-.7-4.7-4-9.5-8.3-5.7-5-11.5-9.2-11.5-16C3 11.3 7.7 6.1 13.4 6.1c4.2 0 6.5 2 8.1 4.3 1.9 2.6 2.2 3.9 2.5 3.9.3 0 .6-1.3 2.5-3.9 1.6-2.3 3.9-4.3 8.1-4.3m0-3c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5.6 0 1.1-.2 1.6-.5 1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path></svg>
                {% else %}
                <svg fill="#262626" height="24" viewBox="0 0 48 48" width="24"><path d="M34.6 6.1c5.7 0 10.4 5.2 10.4 11.5 0 6.8-5.9 11-11.5 16S25 41.3 24 41.9c-1.1-.7-4.7-4-9.5-8.3-5.7-5-11.5-9.2-11.5-16C3 11.3 7.7 6.1 13.4 6.1c4.2 0 6.5 2 8.1 4.3 1.9 2.6 2.2 3.9 2.5 3.9.3 0 .6-1.3 2.5-3.9 1.6-2.3 3.9-4.3 8.1-4.3m0-3c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5.6 0 1.1-.2 1.6-.5 1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path></svg>
                {% endif %}
              </a>
              <a href="/post/{{ post.post.id }}" class="ml-2">
                <svg fill="#262626" height="24" viewBox="0 0 48 48" width="24"><path clip-rule="evenodd" d="M47.5 46.1l-2.8-11c1.8-3.3 2.8-7.1 2.8-11.1C47.5 11 37 .5 24 .5S.5 11 .5 24 11 47.5 24 47.5c4 0 7.8-1 11.1-2.8l11 2.8c.8.2 1.6-.6 1.4-1.4zm-3-22.1c0 4-1 7-2.6 10-.2.4-.3.9-.2 1.4l2.1 8.4-8.3-2.1c-.5-.1-1-.1-1.4.2-1.8 1-5.2 2.6-10 2.6-11.4 0-20.6-9.2-20.6-20.5S12.7 3.5 24 3.5 44.5 12.7 44.5 24z" fill-rule="evenodd"></path></svg>
              </a>
            </div>
            <div class="flex">
              <a href="{{post.post.image.url}}" download>
                <svg class="w-6 h-6 text-gray-800 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 18">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 1v11m0 0 4-4m-4 4L4 8m11 4v3a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-3"/>
                </svg>                
              </a>              
            </div>
          </div>
          <div class="font-semibold text-sm mx-4 mt-2 mb-4">
            {% if post.post.no_of_likes == 0 %}
              <p>No likes</p>
            {% elif post.post.no_of_likes == 1 %}
              <p>Liked by {{ post.post.no_of_likes }} person</p>
            {% else %}
              <p>Liked by {{ post.post.no_of_likes }} people</p>
            {% endif %}
          </div>
          <div class="font-semibold text-sm mx-4 mt-2 mb-4">
            <p>
              <a href="/profile/{{ post.post.user }}"><strong>{{ post.post.user }}</strong></a>
            </p>
            <p> {{ post.post.caption }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  
    <!-- right sidebar that takes 1 column over three-->
    <div class="basis-1/3 ml-4">
      <div class="bg-white shadow-md rounded-md overflow-hidden">
        <div class="bg-gray-50 border-b border-gray-100 flex items-baseline justify-between py-4 px-6">
          <h2 class="font-semibold text-lg">Users You Can Follow</h2>
        </div>
        <div class="divide-gray-300 divide-opacity-50 divide-y px-4">
          {% for suggestion in suggestions_username_profile_list %}
            <div class="flex items-center justify-between py-3">
              <div class="flex flex-1 items-center space-x-4 object-cover">
                <a href="/profile/{{ suggestion.user }}">
                  <img src="{{ suggestion.profileimg.url }}" class="bg-gray-200 rounded-full w-10 h-10">
                </a>
                <div class="flex flex-col">
                  <span class="block capitalize font-semibold"> {{ suggestion.user }} </span>
                  <span class="block capitalize text-sm"> {{ suggestion.bio }} </span>
                </div>
              </div>
              <a href="/profile/{{ suggestion.user }}" class="border border-gray-200 font-semibold px-4 py-1 rounded-full hover:bg-green-600 hover:text-white hover:border-green-600"> View User </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

{% endblock content %}