{% extends "_base.html" %}
{% load static %}

{% block title %}KeftaClub - Profile{% endblock %}

{% block content %}

<!-- component -->
<div class="relative max-w-2xl mx-auto my-3">
	<!-- top header -->
	<div class="flex flex-col justify-center items-center my-5">
		<img class="rounded-full w-64 h-64" src="{{user_profile.profileimg.url}}" alt="image description">
		<span class="py-8 self-center text-2xl font-bold whitespace-nowrap dark:text-white" style="margin:24px;">@{{user_object.username}}</span>

		<div class="flex gap-10 text-sm">
			<div class="flex flex-col items-center mr-4">
				<span class="text-xl font-bold whitespace-nowrap dark:text-white">{{user_following}}</span>
				<span class="text-xl font-bold whitespace-nowrap dark:text-white">Following</span>
			</div>
			<div class="flex flex-col items-center mr-4">
				<span class="text-xl font-bold whitespace-nowrap dark:text-white">{{user_followers}}</span>
				<span class="text-xl font-bold whitespace-nowrap dark:text-white">Followers</span>
			</div>
			<div class="flex flex-col items-center">
				<span class="text-xl font-bold whitespace-nowrap dark:text-white">{{user_post_length}}</span>
				<span class="text-xl font-bold whitespace-nowrap dark:text-white">Posts</span>
			</div>
		</div>
		{% if user_object.username == user.username %}
		<a href="/settings" data-ripple="">
		<button class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" style="margin:24px;">Edit profile</button>
		</a>
		{% else %}
		<a href="/settings" data-ripple="">
		<button class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" style="margin:24px;" id="create-thread-btn" data-username="{{ user_object.username }}">Conversation</button>
		</a>
		<form action="/follow" method="POST">
			{% csrf_token %}
			<a data-ripple=""><button type="submit" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" style="margin:24px;">{{button_text}}</button></a>
			<input type="hidden" value="{{user.username}}" name="follower" />
			<input type="hidden" value="{{user_object.username}}" name="user" />
		</form>
		{% endif %}
		<p class="text-xl font-bold whitespace-nowrap dark:text-white" style="margin-bottom:48px;">{{user_profile.bio}}</p>
	</div>
	<!-- top header end -->

	<div class="grid grid-cols-2 md:grid-cols-3 gap-4">
		{% for post in user_posts %}
			<div class="relative w-full overflow-hidden rounded-lg" style="padding-top: 100%;">
				<a href="/post/{{post.id}}"><img class="absolute inset-0 w-full h-full object-cover" src="{{post.image.url}}" alt=""></a>
			</div>
		{% endfor %}
	</div>
</div>

{% endblock content %}

{% block js %}
<script data-cfasync="false" src="{% static '../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script><script src="{% static 'js/main.min.js' %}">
</script>
<script src="{% static 'js/script.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	$(document).ready(function() {
		$('#create-thread-btn').click(function() {
			var username = $(this).data('username');
			$.ajax({
				url: '{% url "create-thread" %}',
				type: 'POST',
				data: {
					username: username,
					csrfmiddlewaretoken: '{{ csrf_token }}'
				},
				success: function(response) {
					if (response.success) {
						window.location.href = '/inbox/' + response.thread_id + '/';
					} else {
						alert(response.error);
					}
				},
				error: function(xhr, status, error) {
					alert("An error occurred: " + error);
				}
			});
		});
	});
</script>

{% endblock js %}