{% extends "_base.html" %}
{% load static %}

{% block title %}KeftaClub - Rooms{% endblock %}

{% block content %}
    <!-- AJAX -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
<!-- Récupération des messages en ajax -->
<script>
    $(document).ready(function(){
        var display = $("#display");
        $.ajax({
            type: 'GET',
            url: "/getMessages/{{ room.name }}/",
            success: function(response){
                console.log(response);
                var isAtBottom = display.scrollTop() + display.innerHeight() >= display[0].scrollHeight;
                $("#display").empty();
                for (var key in response.messages) {
                    var rawDate = new Date(response.messages[key].date);
                    var formattedDate = rawDate.toLocaleString('fr-FR', {
                        day: 'numeric', 
                        month: 'short', 
                        year: 'numeric', 
                        hour: '2-digit', 
                        minute: '2-digit'
                    });
                    var temp = `
                        <div class="messages">
                            <div class="left message">
                                <div class="flex items-start gap-2.5 p-2">
                                    <img class="w-8 h-8 rounded-full" src="${response.messages[key].profile}" alt="${response.messages[key].user}">
                                    <div class="flex flex-col w-full max-w-[480px] leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl dark:bg-gray-700">
                                        <div class="flex items-center space-x-2 rtl:space-x-reverse">
                                            <span class="text-sm font-semibold text-gray-900 dark:text-white">
                                                ${response.messages[key].user}
                                            </span>
                                            <span class="text-sm font-normal text-gray-500 dark:text-gray-400">
                                                ${formattedDate}
                                            </span>
                                        </div>
                                        <p class="text-sm font-normal py-2.5 text-gray-900 dark:text-white">
                                            ${response.messages[key].value}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>`;
                    $("#display").append(temp);
                }
                // Scroll to the bottom of the chat window if the user is already at the bottom
                if (isAtBottom) {
                    $("#display").scrollTop($("#display")[0].scrollHeight);
                }
            },
            error: function(response){
                alert('An error occurred');
            }
        });
    });
</script>



    <div class="container felx felx-wrap justify-between items-center mx-auto">
    <section class="bg-white dark:bg-gray-700">
        <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12 mb-8">
            <!-- Chat -->
            <div id="display" >
        <!-- Les messages de chat seront ajoutés ici -->
                <p>Aucun message présent</p>
            </div>
        </div>

            <script>
                // Function to get the current timestamp in the format HH:mm:ss
                function getCurrentTimestamp() {
                    const now = new Date();
                    const hours = now.getHours().toString().padStart(2, '0');
                    const minutes = now.getMinutes().toString().padStart(2, '0');
                    const seconds = now.getSeconds().toString().padStart(2, '0');
                    return `${hours}:${minutes}:${seconds}`;
                }

                // Update the timestamp element with the current timestamp
                document.getElementById('timestamp').innerText = getCurrentTimestamp();
            </script>


            <!-- End Chat -->


            <!-- Footer -->
            <div
                class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12 mb-8">
                <form id="post-form" class="flex items-center">
                    {% csrf_token %}
                    <input type="hidden" name="username" id="username" value="{{username}}"/>
                    <input type="hidden" name="room_id" id="room_id" value="{{room.id}}"/>
                    <div class="relative w-full">
                        <input type="text" name="message" id="message" autocomplete="off"
                            class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer"
                            placeholder=" " />
                        <label for="message"
                            class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-gray-50 dark:bg-gray-800 px-2 peer-focus:px-2 peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 start-1 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Contenu du message</label>
                    </div>
                    <button type="submit" value="Send"
                        class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-full text-sm p-2.5 ml-2 text-center inline-flex items-center me-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
                        </svg>
                    </button>
                </form>
            </div>
            <!-- End Footer -->
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>

    <script type="text/javascript">
        // pour soumettre le formulaire en ajax
            $(document).on('submit','#post-form',function(e){
        e.preventDefault();
    
        $.ajax({
            type:'POST',
            url:'/send',
            data:{
                username:$('#username').val(),
                room_id:$('#room_id').val(),
                message:$('#message').val(),
                profile:$('#profile').val(),
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
        //la  réponse HTTP pour signaler que le message a été envoyé avec succes
            success: function(data){
            //alert(data)
            location.reload()

            }
        });
        document.getElementById('message').value = ''
        });
    </script>

{% endblock content %}