{% extends "_base.html" %}
{% load static %}

{% block content %}

    <!--Thread content here-->
    <div class="container mx-auto p-4">

        <div class="bg-white shadow rounded-md p-4 mb-4 mt-36">
            {% if thread.receiver == request.user %}
                <h5 class="text-lg font-semibold">@{{ thread.user }}</h5>
            {% else %}
                <h5 class="text-lg font-semibold">@{{ thread.receiver }}</h5>
            {% endif %}
        </div>

        {% if message_list.all.count == 0 %}
        <div class="my-5">
            <p class="text-center text-gray-500">No Messages</p>
        </div>
        {% endif %}

        <div class="overflow-y-auto mb-16 max-h-96 max-w-10xl">
            {% for message in message_list %}
            <div class="mb-4">
                {% if message.sender_user == request.user %}
                
                <div class="flex justify-start">
                    <div class="bg-gray-100 p-3 rounded-lg">
                        {% if message.image %}
                        <img src="{{ message.image.url }}" class="mb-2 rounded-lg w-32 h-32 object-cover" />
                        {% endif %}
                        <p>{{ message.body }}</p>
                    </div>
                </div>
                {% elif message.receiver_user == request.user %}
                <div class="flex justify-end mr-3">
                    <div class="bg-blue-600 p-3 rounded-lg">
                        {% if message.image %}
                        <img src="{{ message.image.url }}" class="mb-2 rounded-lg w-32 h-32 object-cover" />
                        {% endif %}
                        <p>{{ message.body }}</p>
                    </div>
                </div>
                {% endif %}
            </div>
            {% endfor %}
           
        </div>

        <!-- template.html -->
<div class="self-center">
    <div class="bottom-30 shadow-md p-4">
        <form method="POST" action="{% url 'create-message' thread.pk %}" enctype="multipart/form-data" class="flex items-center gap-2">
            <div class="bg-white rounded-t-lg dark:bg-gray-800 w-full">
                {% csrf_token %}
                {{ form.body }}
                <label for="image-upload" class="cursor-pointer">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white left-96" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 12.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Z"/>
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 3h-2l-.447-.894A2 2 0 0 0 12.764 1H7.236a2 2 0 0 0-1.789 1.106L5 3H3a2 2 0 0 0-2 2v11a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V5a2 2 0 0 0-2-2Z"/>
                    </svg>
                </label>
                {{ form.image }}
            </div>
            <button type="submit" value="Send" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-full text-sm p-2.5 ml-2 text-center inline-flex items-center me-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </button>
        </form>
    </div>
</div>

        


    </div>

{% endblock content %}
